@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



#main {
    height: 100vh;
    background-color: #1a1a1c;
}
#status{
    color: rgb(235, 32, 32);
}
*{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.back-home-bnt{
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    padding: 5px;
    background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    );
}