.table{
    text-align: center;
    width: auto;
    height: auto;
    color: #fff;   
    border-top:hidden;   
}
.td{
    text-align: center;
    width: auto;
    height: auto;
    color: #fff;
    
}
.App{
        display: flex;
        flex-direction: column;
        background-color: #1a1a1c;
        justify-content: center;
        padding-top: 20px;
        color: #fff;
      }

.table-dark{
    text-transform:uppercase ;
    align-items: center;
    font-size: large;
    color: rgb(235, 227, 210);
    background-color: none;
}

.stock-search {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

.suggestion{
  color:rgb(124, 140, 184);
  padding: 5px;
}
.mr-auto{
    color: #fff;
}
.stock-text {
    padding-top: 20px;
    padding-bottom: 32px;
    text-align: center;
  }
.stock-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    );
  
    color: #e2e2e2;
  }
  
  .stock-input {
    color: #e2e2e2;
  }
  .nav{
      font-size: 20px;
      padding-top: 30px;
      padding-left: 20px;
      background-color: #1a1a1c;
  }
  .nav a{
    text-decoration: none;
  }
.modal-div .list-div {
  background: antiquewhite;
  border-radius: 15px;
  width: 100px;
  height: 125px;
  justify-content: center;
}
.modal-div .list-div::before{
  content: "";
  position: absolute;
  top: -7px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: antiquewhite;
  transform: rotate(45deg);
}
.home-icon{
  display: inline-block;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 80px;
  top:50px;
  transform: translateY(-50%);

}
.list-div{
  display: block;
  position: absolute;
  right: 60px;
  top:75px;
}
.list-div li{
  background: antiquewhite;
  text-align: center;
}
.list-div li:hover button{
  color:#4801ff
}
.list-div ul{
  margin-top: 10px;
  white-space: auto;
  list-style: none;
}
.list-div button {
  width: 80px;
  height: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.5s;
  background: none;
  border: none;
}



/* .signup-bnt{
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  height: 30px;
  width: 80px;
  transition-duration: 0.4ms;
  color: white;
  background-color: rgb(121, 25, 211);
  position: absolute;
  right: 60px;
  top:50px;
  transform: translateY(-50%);
  
}
.signup-bnt:hover{
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: bisque;
} */



.warning-text{
    color: red;
    display: block;
    margin-top: 10px;
    text-align: center;

}
.footer-basic * {  
  background-color:#5f30d6;
  color:#e5ebf1;
}
.footer-basic{
  background-color: #1a1a1c;
  padding-top: 30px;
  padding:2px 0;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
.footer-basic ul a:hover {
  opacity:1;
  
  
}

.footer-basic .social {
  padding-top: 15px;
  text-align:center;
  padding-bottom:15px;
  
}
.footer-basic img {
  width:40px;
  height:40px;
  margin: 5px;
}

.footer-basic .social > img {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
} 
.copyright {
  display: block;
  justify-content: center;
  align-content: center;

}
