.table{
    text-align: center;
    width: auto;
    height: auto;
    color: #fff;   
    border-top:hidden;
    
}
.td{
    text-align: center;
    width: auto;
    height: auto;
    color: #fff;
    
}
.App{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin-top: 20px;
        color: #fff;
      }
.table-light{
    text-transform:uppercase ;
    font-size: large;
    color: rgb(235, 227, 210);
}

.stock-search {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

.suggestion{
  color:rgb(124, 140, 184);
  margin: 5px;
}
.mr-auto{
    color: #fff;
}
.stock-text {
    margin-top: 20px;
    margin-bottom: 32px;
    text-align: center;
  }
.stock-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    );
  
    color: #e2e2e2;
  }
  
  .stock-input {
    color: #e2e2e2;
  }
  .nav{
      font-size: 20px;
      margin-top: 30px;
      margin-left: 20px;
  }
  li{
      display: inline;
}

.warning-text{
    color: red;
    display: block;
    margin-top: 10px;
    text-align: center;

}
.footer-basic * {
  
  
  background-color:#5f30d6;
  color:#e5ebf1;
}
.footer-basic{
  margin-top: 30px;
  padding:2px 0;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  
}
.footer-basic ul a:hover {
  opacity:1;
  
  
}

.footer-basic .social {
  padding-top: 25px;
  text-align:center;
  padding-bottom:25px;
  
}
.footer-basic img {
  width:40px;
  height:40px;
  margin: 5px;
}

.footer-basic .social > img {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}  

