/* *{
    background-color: #1a1a1c;
} */
.wrap{
    background-color: #1a1a1c;
}

.top-bnt{
    background-color: #1a1a1c;
    padding-top: 30px;
    padding-left: 20px;  
}
.top-bnt a{
    text-decoration: none;
    font-size: 24px;
    margin-top: 30px;
}

.container{
    color: white;
    background-color: #1a1a1c;
}
.title{
    margin-top: 50px;
}
.title h1{
    display: inline; 
    text-transform: uppercase, bold;
    font-weight: bold;
    font-size: 350%;
    color:wheat ;
   }

.info-board{
    margin-top: 25px;
    display:flex;
    font-size: 150%;
    color: white;
}
.info-board strong{
    color: wheat
}
.info-board b{
    margin-left: 20px;
}
.chart-section h3 {
    text-align: center;
    text-transform: bold;
    color: #8e5ea2;
}
.news-section h1 {
   text-transform: uppercase, bold;
   margin-top: 20px;
}
.article{   
    border-bottom: 1px solid #949191ea;  
    margin-top: 30px;
    padding-bottom: 30px;

}
.source-article{ 
   text-transform: uppercase;
   font-weight: bold;
   font-size: small;
   margin-bottom: 30px;
}
.source-article img{
    width: 19px;
    height: 18px;
    margin-right: 5px;
}
.content-news{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center; }
.img-news img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    
}
.img-news{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    transform:translate(0%,-30%);
}
.title-content-news{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    align-items: center;
}
.read-more{
    font-size: 18px;
}
.info-table{
    display: inline block;
    font-weight: bolder;
}

.red{
    color: red;
}
.green{
    color: green;
    
}